<div class="modal-overlay" (click)="closeModal()"></div>
<div class="modal">
  <h2>Créer une nouvelle tâche</h2>
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="title">Titre</label>
      <input id="title" type="text" [(ngModel)]="task.title" name="title" required />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" [(ngModel)]="task.description" name="description" required></textarea>
    </div>

    <div class="form-group">
      <label for="deadline">Date limite :</label>
      <input id="deadline" type="date" [(ngModel)]="task.deadline" name="deadline" required />
    </div>

    <div class="form-group">
      <button type="button" (click)="getCurrentLocation()">📍 Ajouter ma position</button>
      <span *ngIf="isFetchingLocation">🔄 Récupération de la localisation...</span>
    </div>

    <div *ngIf="task.latitude && task.longitude" class="form-group">
      <p>🌍 Position enregistrée :</p>
      <p>Latitude : {{ task.latitude }}</p>
      <p>Longitude : {{ task.longitude }}</p>
    </div>


    <button type="submit" class="btn-modal">Créer</button>
    <button type="button" (click)="closeModal()" class="btn-modal">Annuler</button>
  </form>
</div>